# Your AWS Account ID
AWS_ACCOUNT=YourAWSAccountId

# Your aws profile.  can set this up by running `aws configure`
AWS_PROFILE=YourAWSProfile

# Your AWS Region (i.e. us-east-1)
AWS_REGION=YourRegion

# Application Name (For Stack and Resource Naming)
APP_NAME=YourAppName

# RSS Feeds (Seperate each URL with commas)
RSS_FEEDS=https://feed1.rss,https://feed2.rss